#################
# IntelliJ IDEA #
#################
.idea/workspace.xml
.idea/dictionaries/*
.idea/tasks.xml
.idea/dataSources*
.iws

##################
# External libs  #
##################
lib/*
!lib/.gitkeep

src/META-INF/persistence.xml