body {
    padding-top: 60px;
}
.navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}
.thumbnail {
    margin-top: 10px;
}