body {
    padding-top: 60px;
}
.nav.navbar-nav{
    margin-left: 75px;
}
.navbar-default {
    margin-top: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.navbar-default ul.nav li{
    border-bottom: 1px solid #ddd;
}
.navbar-default ul.nav li a:hover{
    color: #428bca;
}
.thumbnail {
    margin-top: 10px;
}
.thumbnail .caption h3{
    margin-top: 10px;
    margin-bottom: 20px;
}
.bo-form {
    margin-top: 30px;
}
.page-header {
    color: #FFDFB1;
    background-color: #FF9700;
    margin-top: -10px;
}
.page-header h2 {
    color: #fff;
}
ul.dropdown-menu{
    padding: 0;
}
ul.dropdown-menu li a{
    border-radius: 4px;
}
ul.dropdown-menu li a:hover{
    background: rgb(240,240,240);
}
.minHeight{
    min-height: 60px;
}
.newLine{
    white-space: pre;
}